@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MapPage>
@{
    Layout = "Master.cshtml";
}

<div id="map-page-body" class="clearfix">
    <h1>@Model.Heading</h1>
    
    <div id="text-wrapper">@Model.MainText</div>
    
    <img id="uclh-map" class="image-map" src="~/images/uclh-map.png" alt="Map of non-UPF businesses around UCLH" usemap="#image-map-0">

    <ol id="outlets-list" class="clearfix">
        @{
            var outlets = Umbraco.ContentAtRoot()
                .First()
                .Descendants<Outlet>();
            foreach (var outlet in outlets)
            {
                <li>
                    <a href="@outlet.Url()">@outlet.Name</a>
                </li>
            }
        }
    </ol>
</div>