@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<html lang="en-us">
	<head>
		<title>UCL Non-UPF Information</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<div id="header">
			<div id="logo">
				<a href="/"><strong>UPDATE</strong></a>
			</div>
			<nav class ="navbar navbar-expand navbar-light">
				@{
					var selection = Umbraco.ContentAtRoot().FirstOrDefault()
					.Children()
					.Where(x => x.IsVisible());
				}
				<ul>
					@foreach (var item in selection)
					{
						<li>
							<a href="@item.Url()">@item.Name()</a>
						</li>
					}
				</ul>
			</nav>
		</div>
		<div id="content">
			@RenderBody()
		</div>
		<div id="footer">
		</div>
	</body>	
</html>