@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G1CKPMJCM3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-G1CKPMJCM3');
    </script>

    <title>UCL Non-UPF Information</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/scripts/main.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <a href="/">
                    <img src="~/images/UPDATE Logo.png" alt="UPDATE project logo" />
                </a>
            </div>            
            <div id="burger-wrapper">
                <input type="checkbox" id="burger-input" class="burger-shower" />
                <label id="burger-menu" for="burger-input">
                    <nav id="sidebar-menu">
                        <h2>Menu</h2>
                        <partial name="_NavMenu" />
                    </nav>
                </label>
            </div>
            <div class="overlay"></div>
        </div>
        <nav id="main-menu">
            <partial name="_NavMenu" />
        </nav>
        <div id="content">
            @RenderBody()
        </div>
        <div id="footer">
            @{
                var homePage = Umbraco.ContentAtRoot().FirstOrDefault() as HomePage;            
                if (homePage != null && homePage.FooterImage != null)
                {
                    <a id="footer-image" href="@homePage.FooterImageUrl" target="_blank">
                        <img src="@homePage.FooterImage.Url()" alt="@homePage.FooterImageAltText" />
                    </a>                    
                }
            }
        </div>
    </div>
</body>
</html>