@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}

<html lang="en-us">
<head>
    <title>UCL Non-UPF Information</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <a href="/">
                    <img src="~/images/UPDATE Logo.png" alt="UPDATE project logo" />
                </a>
            </div>            
            <div id="burger-wrapper">
                <input type="checkbox" id="burger-input" class="burger-shower" />
                <label id="burger-menu" for="burger-input">
                    <nav id="sidebar-menu">
                        <h2>Menu</h2>
                        <partial name="_NavMenu" />
                    </nav>
                </label>
            </div>
            <div class="overlay"></div>
        </div>
        <nav id="main-menu">
            <partial name="_NavMenu" />
        </nav>
        <div id="content">
            @RenderBody()
        </div>
        <div id="footer">
            @{
                var homePage = Umbraco.ContentAtRoot().FirstOrDefault();
            }
            @if (homePage != null && homePage.HasValue("footerImage"))
            {
                var footerImage = homePage.Value<IPublishedContent>("footerImage");
                if (footerImage != null)
                {
                    var imgUrl = homePage.HasValue("footerImageUrl") ? homePage.Value("footerImageUrl") : "/";
                    var image = @Umbraco.Media(footerImage.Key);
                    <a id="footer-image" href="@imgUrl" target="_blank">
                        <img src="@image.Url()" alt="" />
                    </a>
                }
            }            
        </div>
    </div>
</body>
</html>