@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Upf_Info_Site.Models.FoodListingViewModel>
@{
	Layout = "Master.cshtml";
}

<h1>@(Model.Heading)</h1>
@foreach (var foodGrouping in Model.GroupedListings)
{	
	<div class="food-card">
		<h3 class="card-header">@foodGrouping.Key</h3>
		<div class="card-body">
			@foreach (var food in foodGrouping.Value)
			{
				@food<br />
			}
		</div>		
	</div>
}