@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Upf_Info_Site.Models.FoodListingViewModel>
@{
	Layout = "Master.cshtml";
}

<h1>@(Model.Heading)</h1>
@foreach (var foodGrouping in Model.GroupedListings)
{
	<div class="food-card">
		<h2>@foodGrouping.Key.ToUpper()</h2>
		@foreach (var food in foodGrouping.Value)
		{
			@food<br />
		}
	</div>
}