@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.StandardPage>
@{
    Layout = "Master.cshtml";
}

<h1>@Model.Heading</h1>
<p>@Model.MainText</p>