@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@screen-width-larger: 800px;
@standard-gutter: 12px;
@header-height: 90px;

// Palette
@colour1: #1D7151; // Dark green
@colour2: #96CEB4; // Light green
@colour3: #FFCC3F; // Gold
@colour4: #74C1E0; // Light blue
@colour5: #CCDCBA; // Silvery green
@colour6: #E9EAEC; // Light grey
@text-colour-main: #1B2A4D; // Very dark blue

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: @text-colour-main;
    background-color: @colour6;

    &.no-scroll {
        overflow: hidden;
    }
}

h1 {
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    padding-bottom: @standard-gutter;
    margin-bottom: 0.6em;
    border-bottom: 1px dashed @colour2;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.4em;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.2em;
}

p {
    margin-bottom: 0.6em;
}

ul {
    list-style-type: disc;
}

li {
    margin: 0 0 6px 20px;
}

a {
    color: @colour4;

    &:hover {
        color: @colour3;
    }
}

details summary {
    list-style-type: revert;
    cursor: pointer;

    h3 {
        display: inline;
    }
}

#wrapper {
    max-width: 1024px;
    margin: 0 auto;
    border: 1px solid @colour1;
    background-color: white;
}

#main-menu, #content {
    padding: @standard-gutter;
}

#header {
    height: @header-height;
    padding: 8px @standard-gutter;
    border-bottom: 1px solid @colour1;
    background-color: @colour1;
}

#logo {
    height: 100%;
    float: left;
}

nav {
    ul {
        list-style-type: none;

        li {
            margin: 0;
        }
    }

    a {
        font-size: 1.2em;
    }
}

nav a,
nav h2,
#footer {
    color: white;
}

/* Burger menu */
#burger-trigger {
    height: 100%;
    padding: 17px 0;
    position: relative;
    float: right;

    #burger-icon {
        width: 50px;
        height: 100%;
        display: inline-block;

        #burger-lines,
        #burger-lines:before,
        #burger-lines:after {
            width: 100%;
            transition: 0.3s;
            background: white;
            position: absolute;
            left: 0;
            display: block;
        }

        #burger-lines {
            height: 5px;
            margin-top: -2px;
            top: 50%;
        }

        #burger-lines:before,
        #burger-lines:after {
            height: 100%;
            content: '';
            transform-origin: 1rem center;
        }

        #burger-lines:before {
            top: 12px;
        }

        #burger-lines:after {
            top: -12px;
        }
        // Close icon
        &.close {
            transform: scale3d(0.8, 0.8, 0.8);

            #burger-lines {
                background: transparent;
            }

            #burger-lines:before,
            #burger-lines:after {
                top: 0;
                transform-origin: 50% 50%;
            }

            #burger-lines:before {
                transform: rotate3d(0, 0, 1, 45deg);
            }

            #burger-lines:after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }
    }
}

#sidebar-menu {
    position: fixed;
    top: 0;
    left: -80vw;
    width: 80vw;
    height: 100%;
    overflow: auto;
    padding: 10px;
    border-right: 1px solid @colour2;
    background-color: @colour1;
    transition: 0.3s;
    z-index: 1;
    visibility: hidden;

    .sub-menu-toggle {
        display: inline-block;
        float: right;
        transform: rotate(45deg);
        margin: 3px 5px 0 0;
        height: 14px;
        width: 14px;
        border-right: 2px solid;
        border-bottom: 2px solid;
        color: white;

        &.open {
            transform: rotate(-135deg);
            margin-top: 10px;

            + .sub-menu-wrapper {
                display: block;
                max-height: 5000px;
                transition: max-height 0.3s ease-in;
            }
        }
    }

    ul .sub-menu-wrapper {        
        max-height: 0;
        transition: max-height 0.3s ease-out;
        overflow: hidden;
        background-color: @colour4;

        li {
            padding: 1px 0 1px @standard-gutter;
            border-bottom: 1px dashed @colour1;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

#overlay {
    position: fixed;
    top: @header-height;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .35s, visibility .35s, height .35s;
    background-color: @colour1;
    visibility: hidden;
}

#burger-trigger.close + #sidebar-menu {
    left: 0;
    visibility: visible;
}

#burger-trigger.close ~ #overlay {
    opacity: 0.4;
    visibility: visible;
}

/* Main menu */
#main-menu {
    display: none;
    position: relative;
    height: 50px;
    padding: 0 @standard-gutter;
    border-bottom: 1px solid @colour1;
    background: transparent url(../images/cutlery.png) no-repeat left center;
    background-size: 50px;

    > ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;

        > li {
            padding: 0 10px;

            > a {
                display: block;
                padding: @standard-gutter 0;
            }
            /* Sub menu */
            .sub-menu-wrapper {
                position: absolute;
                top: 50px;
                max-height: 0;
                overflow: hidden;
                background-color: white;
                transition: max-height 0.3s ease-out;

                ul {
                    padding: 0 @standard-gutter;
                    border: 1px solid @colour1;
                    border-top: 0;

                    li {
                        padding: 6px 0;
                        border-bottom: 1px dashed @colour2;

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }

    a {
        font-size: 1em;
        color: @colour4;

        &:hover {
            color: @colour3;
        }
    }
}

#main-menu > ul > li:hover .sub-menu-wrapper,
#main-menu > ul > li > a:hover .sub-menu-wrapper {
    max-height: 5000px;
    transition: max-height 0.3s ease-in;
}

#content {
    min-height: 50vh;
    padding-bottom: 60px;
}

#footer {
    height: 56px;
    padding: 8px @standard-gutter;
    border-top: 1px solid @colour1;
    background-color: @colour2;
}

#footer-image {
    float: right;
    height: 100%;
}
/* Rich text section */
#text-wrapper img {
    object-fit: contain;
}
/* Collapsible section */
.standard-section {
    margin: 0 0 24px 24px;

    details {
        summary {
            padding-bottom: 4px;
            border-bottom: 1px solid @colour5;
        }

        .standard-section-text {
            margin-top: 6px;
        }
    }
}
/* Map page */
#map-page-body .image-map {
    margin-top: 10px;
}

#uclh-map {
    border: 1px solid @colour1;
}

#outlets-list {
    list-style: none;
    display: block;
    margin-top: 10px;
    padding: 20px;
    counter-reset: outlet-counter;
    background-color: @text-colour-main;

    li {
        width: 40%;
        margin-right: 20px;
        float: left;
        position: relative
    }

    li:before {
        counter-increment: outlet-counter;
        content: counter(outlet-counter);
        float: left;
        position: absolute;
        top: 3px;
        left: -26px;
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        font-size: 0.7em;
        font-weight: bold;
        background: white;
        -moz-border-radius: 999px;
        border-radius: 999px
    }

    a {
        color: white;

        &:hover {
            color: @colour3;
        }
    }
}
/* Search page */
#search-by-type {
    margin-top: 24px;
}

.search-category {
    padding: @standard-gutter;
    border: 1px solid @colour2;

    &:not(:first-child) {
        margin-top: @standard-gutter;
    }
}

a.search-trigger {
    margin: 6px 0;
    padding: @standard-gutter;
    text-align: center;
    border: 1px solid @colour1;
    background-color: @colour6;
    display: block;
}
/* Food listing page */
.food-card {
    margin-bottom: @standard-gutter;
    padding: @standard-gutter @standard-gutter @standard-gutter 36px;
    border-radius: 15px;
    background-color: @colour6;
}
/* About page */
.team-member {
    margin: 48px 0;
    text-align: center;

    .image-wrapper {
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: 0 auto @standard-gutter auto;
        border-radius: 50%;
        display: flex;
        justify-content: center;

        img {
            margin: auto auto;
            max-inline-size: none;
            max-block-size: none;
        }
    }
}

@media screen and (min-width: @screen-width-larger) {
    #main-menu {
        display: block;
    }

    #burger-trigger {
        display: none;
    }

    .sub-menu-toggle {
        display: none;
    }
    /* Map page */
    #map-page-body .image-map {
        margin-top: 0;
    }

    #uclh-map {
        float: left;
        width: 44%;
        margin-right: 2%;
    }

    #map-page-body {
        #text-wrapper, #outlets-list {
            float: right;
            width: 54%;
        }
    }
    /* Search page */
    #search-content {
        display: flex;
        column-gap: 24px;
    }

    #search-by-outlet, #search-by-type {
        flex: 50%;
    }

    #search-by-type {
        margin-top: 0;
    }
    /* Food listing page */
    #food-cards {
        display: flex;
        gap: @standard-gutter;

        .column-0, .column-1 {
            flex: 50%;
        }
    }
    /* About page */
    .team-member p {
        padding: 0 5vw;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
