@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: #1B2A4D;
  background-color: #E9EAEC;
}
body.no-scroll {
  overflow: hidden;
}
h1 {
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 12px;
  margin-bottom: 0.6em;
  border-bottom: 1px dashed #96CEB4;
}
h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.4em;
}
h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.2em;
}
p {
  margin-bottom: 0.6em;
}
ul {
  list-style-type: disc;
}
li {
  margin: 0 0 6px 20px;
}
a {
  color: #74C1E0;
}
a:hover {
  color: #FFCC3F;
}
details summary {
  list-style-type: revert;
  cursor: pointer;
}
details summary h3 {
  display: inline;
}
#wrapper {
  max-width: 1024px;
  margin: 0 auto;
  border: 1px solid #1D7151;
  background-color: white;
}
#main-menu,
#content {
  padding: 12px;
}
#header {
  height: 90px;
  padding: 8px 12px;
  border-bottom: 1px solid #1D7151;
  background-color: #1D7151;
}
#logo {
  height: 100%;
  float: left;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  margin: 0;
}
nav a {
  font-size: 1.2em;
}
nav a,
nav h2,
#footer {
  color: white;
}
/* Burger menu */
#burger-trigger {
  height: 100%;
  padding: 17px 0;
  position: relative;
  float: right;
}
#burger-trigger #burger-icon {
  width: 50px;
  height: 100%;
  display: inline-block;
}
#burger-trigger #burger-icon #burger-lines,
#burger-trigger #burger-icon #burger-lines:before,
#burger-trigger #burger-icon #burger-lines:after {
  width: 100%;
  transition: 0.3s;
  background: white;
  position: absolute;
  left: 0;
  display: block;
}
#burger-trigger #burger-icon #burger-lines {
  height: 5px;
  margin-top: -2px;
  top: 50%;
}
#burger-trigger #burger-icon #burger-lines:before,
#burger-trigger #burger-icon #burger-lines:after {
  height: 100%;
  content: '';
  transform-origin: 1rem center;
}
#burger-trigger #burger-icon #burger-lines:before {
  top: 12px;
}
#burger-trigger #burger-icon #burger-lines:after {
  top: -12px;
}
#burger-trigger #burger-icon.close {
  transform: scale3d(0.8, 0.8, 0.8);
}
#burger-trigger #burger-icon.close #burger-lines {
  background: transparent;
}
#burger-trigger #burger-icon.close #burger-lines:before,
#burger-trigger #burger-icon.close #burger-lines:after {
  top: 0;
  transform-origin: 50% 50%;
}
#burger-trigger #burger-icon.close #burger-lines:before {
  transform: rotate3d(0, 0, 1, 45deg);
}
#burger-trigger #burger-icon.close #burger-lines:after {
  transform: rotate3d(0, 0, 1, -45deg);
}
#sidebar-menu {
  position: fixed;
  top: 0;
  left: -80vw;
  width: 80vw;
  height: 100%;
  overflow: auto;
  padding: 10px;
  border-right: 1px solid #96CEB4;
  background-color: #1D7151;
  transition: 0.3s;
  z-index: 1;
  visibility: hidden;
}
#sidebar-menu .sub-menu-toggle {
  display: inline-block;
  float: right;
  transform: rotate(45deg);
  margin: 3px 5px 0 0;
  height: 14px;
  width: 14px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  color: white;
}
#sidebar-menu .sub-menu-toggle.open {
  transform: rotate(-135deg);
  margin-top: 10px;
}
#sidebar-menu .sub-menu-toggle.open + .sub-menu-wrapper {
  display: block;
  max-height: 5000px;
  transition: max-height 0.3s ease-in;
}
#sidebar-menu ul .sub-menu-wrapper {
  max-height: 0;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  background-color: #74C1E0;
}
#sidebar-menu ul .sub-menu-wrapper li {
  padding: 1px 0 1px 12px;
  border-bottom: 1px dashed #1D7151;
}
#sidebar-menu ul .sub-menu-wrapper li:last-child {
  border-bottom: none;
}
#overlay {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  background-color: #1D7151;
  visibility: hidden;
}
#burger-trigger.close + #sidebar-menu {
  left: 0;
  visibility: visible;
}
#burger-trigger.close ~ #overlay {
  opacity: 0.4;
  visibility: visible;
}
/* Main menu */
#main-menu {
  display: none;
  position: relative;
  height: 50px;
  padding: 0 12px;
  border-bottom: 1px solid #1D7151;
  background: transparent url(../images/cutlery.png) no-repeat left center;
  background-size: 50px;
}
#main-menu > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
#main-menu > ul > li {
  padding: 0 10px;
  /* Sub menu */
}
#main-menu > ul > li > a {
  display: block;
  padding: 12px 0;
}
#main-menu > ul > li .sub-menu-wrapper {
  position: absolute;
  top: 50px;
  max-height: 0;
  overflow: hidden;
  background-color: white;
  transition: max-height 0.3s ease-out;
}
#main-menu > ul > li .sub-menu-wrapper ul {
  padding: 0 12px;
  border: 1px solid #1D7151;
  border-top: 0;
}
#main-menu > ul > li .sub-menu-wrapper ul li {
  padding: 6px 0;
  border-bottom: 1px dashed #96CEB4;
}
#main-menu > ul > li .sub-menu-wrapper ul li:last-child {
  border-bottom: none;
}
#main-menu a {
  font-size: 1em;
  color: #74C1E0;
}
#main-menu a:hover {
  color: #FFCC3F;
}
#main-menu > ul > li:hover .sub-menu-wrapper,
#main-menu > ul > li > a:hover .sub-menu-wrapper {
  max-height: 5000px;
  transition: max-height 0.3s ease-in;
}
#content {
  min-height: 50vh;
  padding-bottom: 60px;
}
#footer {
  height: 56px;
  padding: 8px 12px;
  border-top: 1px solid #1D7151;
  background-color: #96CEB4;
}
#footer-image {
  float: right;
  height: 100%;
}
/* Rich text section */
#text-wrapper {
  word-wrap: break-word;
}
#text-wrapper img {
  object-fit: contain;
}
/* Collapsible section */
.standard-section {
  margin: 0 0 24px 24px;
}
.standard-section details summary {
  padding-bottom: 4px;
  border-bottom: 1px solid #CCDCBA;
}
.standard-section details .standard-section-text {
  margin-top: 6px;
}
/* Map page */
#map-page-body .image-map {
  margin-top: 10px;
}
#uclh-map {
  border: 1px solid #1D7151;
}
#outlets-list {
  list-style: none;
  display: block;
  margin-top: 10px;
  padding: 20px;
  counter-reset: outlet-counter;
  background-color: #1B2A4D;
}
#outlets-list li {
  width: 40%;
  margin-right: 20px;
  float: left;
  position: relative;
}
#outlets-list li:before {
  counter-increment: outlet-counter;
  content: counter(outlet-counter);
  float: left;
  position: absolute;
  top: 3px;
  left: -26px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  background: white;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
#outlets-list a {
  color: white;
}
#outlets-list a:hover {
  color: #FFCC3F;
}
/* Search page */
#search-by-type {
  margin-top: 24px;
}
.search-category {
  padding: 12px;
  border: 1px solid #96CEB4;
}
.search-category:not(:first-child) {
  margin-top: 12px;
}
a.search-trigger {
  margin: 6px 0;
  padding: 12px;
  text-align: center;
  border: 1px solid #1D7151;
  background-color: #E9EAEC;
  display: block;
}
/* Food listing page */
.food-card {
  margin-bottom: 12px;
  padding: 12px 12px 12px 36px;
  border-radius: 15px;
  background-color: #E9EAEC;
}
/* About page */
.team-member {
  margin: 48px 0;
  text-align: center;
}
.team-member .image-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto 12px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.team-member .image-wrapper img {
  margin: auto auto;
  max-inline-size: none;
  max-block-size: none;
}
@media screen and (min-width: 800px) {
  #main-menu {
    display: block;
  }
  #burger-trigger {
    display: none;
  }
  .sub-menu-toggle {
    display: none;
  }
  /* Map page */
  #map-page-body .image-map {
    margin-top: 0;
  }
  #uclh-map {
    float: left;
    width: 44%;
    margin-right: 2%;
  }
  #map-page-body #text-wrapper,
  #map-page-body #outlets-list {
    float: right;
    width: 54%;
  }
  /* Search page */
  #search-content {
    display: flex;
    column-gap: 24px;
  }
  #search-by-outlet,
  #search-by-type {
    flex: 50%;
  }
  #search-by-type {
    margin-top: 0;
  }
  /* Food listing page */
  #food-cards {
    display: flex;
    gap: 12px;
  }
  #food-cards .column-0,
  #food-cards .column-1 {
    flex: 50%;
  }
  /* About page */
  .team-member p {
    padding: 0 5vw;
  }
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
